@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.hero-content {
  margin-inline: 22px;
  margin-block-end: 32px;
  &__main-title {
    margin-block-start: 16px;
    margin-block-end: 8px;
    font-size: 32px;
    line-height: 32px;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: var(--just-gray);
  }
  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  @include m.from(sm) {
    padding-inline: 50px;
    &__description {
      font-size: 16px;
      line-height: 26px;
    }
    button.btn {
      inline-size: 70%;
    }
  }
  @include m.from(m) {
    padding-block: 50px;
    &__main-title {
      font-size: 50px;
      margin-block: 16px;
    }

    button.btn {
      inline-size: 300px;
    }
  }
  @include m.from(l) {
    padding-block: 60px;
    padding-inline: 145px;
    &__main-title {
      font-size: 70px;
      line-height: 80px;
    }
    &__subtitle {
      font-size: 24px;
      line-height: 38px;
    }
    &__description {
      font-size: 18px;
      line-height: 27px;
    }

    button.btn {
      inline-size: 260px;
    }
  }
  @include m.from(x) {
    padding-inline: 345px;
  }
}
