:root {
  --just-white: #fff;
  --just-pink: #ef4565;
  --just-gray: #5f6c7b;
  --darkness-gray: #90b4ce;
  --dark-blue: #094067;
  --ligth-blue: #3da9fc;
  --soft-blue: #2b79bd;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-block-start: 110px;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  margin-block: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  color: var(--just-gray);
  font-size: 18px;
  line-height: 27px;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

img {
  max-inline-size: 100%;
}

.wrapper {
  max-inline-size: 1400px;
  margin: auto;
}

.navbar__list {
  visibility: hidden;
  position: fixed;
  top: 74px;
  left: 0;
  right: 0;
  bottom: 270px;
  padding-block-start: 32px;
  padding-block-end: 32px;
  background-color: var(--just-white);
  text-align: center;
  transition: all 0.3 ease-in;
}
.navbar__list.active {
  visibility: visible;
  transition: all 0.3 ease-in;
}
.navbar__item {
  padding-block-end: 40px;
}
.navbar__item a {
  color: var(--darkness-gray);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}
.navbar__item a:hover {
  color: var(--dark-blue);
}
.navbar__item a:active {
  color: var(--dark-blue);
}
@media screen and (min-width: 768px) {
  .navbar__list {
    position: initial;
    display: flex;
    gap: 40px;
    visibility: visible;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }
  .navbar__item {
    position: relative;
    padding: 0;
  }
  .navbar__item:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    inline-size: 100%;
    block-size: 4px;
    background-color: var(--dark-blue);
  }
  .navbar__item a {
    font-size: 14px;
  }
}

.logo-box span {
  color: var(--darkness-gray);
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.icon-menu {
  position: relative;
  inline-size: 34px;
}

.icon-box {
  position: relative;
  inline-size: 34px;
  block-size: 34px;
}
.icon-box.active {
  transition: all 0.3s ease-in;
}
.icon-box.active .line {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.icon-box.active .line::before {
  top: 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}
.icon-box.active .line::after {
  bottom: 0;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .icon-box {
    display: none;
  }
}

.overlay {
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease-in;
}
.overlay.active {
  position: fixed;
  visibility: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242629;
  opacity: 0.5;
  transition: all 0.3s ease-in;
}

.line {
  position: absolute;
  top: 50%;
  inline-size: 100%;
  block-size: 3px;
  background-color: var(--ligth-blue);
  transform: translateY(-50%);
}
.line::before {
  content: "";
  position: absolute;
  top: -8px;
  inline-size: 100%;
  block-size: 3px;
  background-color: var(--ligth-blue);
}
.line::after {
  content: "";
  position: absolute;
  bottom: -8px;
  inline-size: 100%;
  block-size: 3px;
  background-color: var(--ligth-blue);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--just-white);
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 22px;
  padding-block: 20px;
}
@media screen and (min-width: 480px) {
  .header-content {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 768px) {
  .header-content {
    padding-block: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .header-content {
    padding-inline: 0;
  }
}

.hero-content {
  margin-inline: 22px;
  margin-block-end: 32px;
}
.hero-content__main-title {
  margin-block-start: 16px;
  margin-block-end: 8px;
  font-size: 32px;
  line-height: 32px;
}
.hero-content__subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: var(--just-gray);
}
.hero-content__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (min-width: 480px) {
  .hero-content {
    padding-inline: 50px;
  }
  .hero-content__description {
    font-size: 16px;
    line-height: 26px;
  }
  .hero-content button.btn {
    inline-size: 70%;
  }
}
@media screen and (min-width: 768px) {
  .hero-content {
    padding-block: 50px;
  }
  .hero-content__main-title {
    font-size: 50px;
    margin-block: 16px;
  }
  .hero-content button.btn {
    inline-size: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-content {
    padding-block: 60px;
    padding-inline: 145px;
  }
  .hero-content__main-title {
    font-size: 70px;
    line-height: 80px;
  }
  .hero-content__subtitle {
    font-size: 24px;
    line-height: 38px;
  }
  .hero-content__description {
    font-size: 18px;
    line-height: 27px;
  }
  .hero-content button.btn {
    inline-size: 260px;
  }
}
@media screen and (min-width: 1366px) {
  .hero-content {
    padding-inline: 345px;
    padding-block: 100px;
  }
}

.project {
  margin-block: 80px;
}
.project__description {
  margin-block-start: 32px;
}
.project__description .heading {
  font-size: 32px;
  line-height: 32px;
  color: var(--dark-blue);
}
.project .buttons button {
  margin-block-end: 16px;
}
@media screen and (min-width: 1024px) {
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 111px;
    padding-inline: 30px;
  }
  .project__image {
    inline-size: 70%;
  }
  .project__description {
    align-self: center;
  }
  .project__description .buttons {
    gap: 16px;
    display: flex;
  }
}
@media screen and (min-width: 1366px) {
  .project__image {
    inline-size: 100%;
  }
  .project__description {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .project.r-side .project__image {
    grid-column: 2/3;
  }
  .project.r-side .project__description {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.projects {
  background-color: #d8eefe;
}

.projects-content {
  margin-inline: 22px;
  padding-block: 110px;
}
@media screen and (min-width: 480px) {
  .projects-content {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 768px) {
  .projects-content {
    padding-inline: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .projects-content {
    padding-inline: 0;
  }
}

.btn {
  inline-size: 100%;
  padding-inline: 40px;
  padding-block: 12px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #000;
}
.btn:active {
  transform: scale(0.98);
}

.btn--soft-blue {
  background-color: var(--ligth-blue);
  color: var(--just-white);
}

.btn--transparent {
  border: 2px solid var(--dark-blue);
  background-color: transparent;
  color: var(--dark-blue);
}

/*# sourceMappingURL=styles.css.map */
